<template>
  <section>
    <div class="container">
      <h1>{{ title }}</h1>
      <form>
        <div class="form-group">
          <label for="n">{{ label }}</label>
          <input v-model="inputNumber" v-on:keyup="fixZeroBeforeNumber()" v-on:keyup.enter="validate($event)" type="text" class="form-control" id="n" placeholder="od 1 do 1400">
          <button v-on:click="validate($event)" type="submit" class="btn btn-primary">Generuj liczby</button>
          <button v-on:click="reset($event)" type="button" class="btn btn-outline-dark">Wyczyść formularz</button>
        </div>
        <div v-if="alert.isError" class="alert alert-danger" role="alert">{{ alert.text }}</div>
      </form>
      <ul class="row fibonacci-numbers-list">
        <li v-for="(value, key) in fibonacciNumbers" v-bind:key="value.id" class="col-md-6 col-lg-4 col-xl-3 fibonacci-numbers-list__item">F<sub>{{ key }}</sub> : {{ value }}</li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'FibonacciSequence',
  data: function() {
    return {
      title: 'Ciąg Fibonacciego',
      label: 'Wpisz liczbę wyrazów ciągu Fibonacciego',
      number: '',
      inputNumber: '',
      alert: {
        text: '',
        isError: false
      }
    }
  },
  computed: {
    fibonacciNumbers: function() {
      var fibonacciNumbersArray = []
      var n = this.number
      var fn

      function calc(i) {
        if (i > 0) {
          if (fibonacciNumbersArray.length === 0) {
            fibonacciNumbersArray.push(0)
          } else if (fibonacciNumbersArray.length === 1) {
            fibonacciNumbersArray.push(1)
          } else {
            fn =
              fibonacciNumbersArray[fibonacciNumbersArray.length - 1] +
              fibonacciNumbersArray[fibonacciNumbersArray.length - 2]
            fibonacciNumbersArray.push(fn)
          }
          calc(i - 1)
        }
      }

      calc(n)

      return fibonacciNumbersArray
    }
  },
  methods: {
    validate: function(event) {
      event.preventDefault()

      if (isNaN(this.inputNumber)) {
        this.alert.isError = true
        this.number = ''
        this.alert.text = 'To nie jest liczba :('
      } else if (this.inputNumber < 1) {
        this.alert.isError = true
        this.number = ''
        this.alert.text = 'Wartość pola musi być liczbą dodatnią.'
      } else if (this.inputNumber > 1400) {
        this.alert.isError = true
        this.number = ''
        this.alert.text = 'Wartość pola nie może być większa od 1400 :)'
      } else {
        this.alert.isError = false
        this.alert.text = ''
      }

      if (!this.alert.isError) {
        this.number = this.inputNumber
      }
    },
    fixZeroBeforeNumber: function() {
      var pattern = /^0{1,}[0-9]{1,}$/g
      var array

      function removeZeroValue(array) {
        if (parseInt(array[0]) === 0) {
          array.shift()
          removeZeroValue(array)
        }

        return array.join('')
      }

      if (pattern.test(this.inputNumber)) {
        array = this.inputNumber.split('')

        this.inputNumber = removeZeroValue(array)
      }
    },
    reset: function(event) {
      event.preventDefault()

      this.alert.isError = false
      this.alert.text = ''
      this.inputNumber = ''
      this.number = ''
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  margin-top: 15px;
}
.fibonacci-numbers-list {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
  }
}
</style>
