<template>
  <main>
    <FibonacciSequence></FibonacciSequence>
  </main>
</template>

<script>
import FibonacciSequence from './components/FibonacciSequence'

export default {
  name: 'App',
  components: {
    FibonacciSequence
  }
}
</script>

<style lang="scss">
@import './assets/scss/styles.scss';
</style>
